.color {
    color: #fff;
}
.font-content {
    color: #777777;
    font-family: "Times New Roman";
}
h1, h2, .section-title, .section-image-title, .card-team-title {
    font-family: Arial;
    font-weight: bold;
}
img {
    object-fit: cover;
}
.fab {
    color: #000;
    font-size: 19px;
    border-radius: 100%;
    border: 2px solid #000;
    width: 36px;
    height: 36px;
    padding: 6px;
    transition: 0.3s;
}

.fab:hover {
    color: #fed136;
    border: 2px solid #fed136;
    transition: 0.3s;
}

body a:hover {
    text-decoration: none;
}
